@import "tailwindcss";

main{
    font-family: 'VT323', monospace;
    box-sizing: border-box;
}

svg {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

::-webkit-scrollbar {
    width: 10px;    /* Ancho para scroll vertical */
    height: 10px;   /* Alto para scroll horizontal */
}

::-webkit-scrollbar-track {
    background: #031a0bbe;       
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #053015; 
    border-radius: 10px;
}

main *{
    box-sizing: border-box;
}