@import "tailwindcss";

main{
    font-family: 'VT323', monospace;
    box-sizing: border-box;
}

svg {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

main *{
    box-sizing: border-box;
}