@import "tailwindcss";

main{
    font-family: 'VT323', monospace;
    box-sizing: border-box;
}

svg {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

::-webkit-scrollbar {
    width: 0;    /* Ancho para scroll vertical */
    height: 0;   /* Alto para scroll horizontal */
}

main *{
    box-sizing: border-box;
}